<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/media.css">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
    <title>ClínicaVitalis</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-dark fixed-top" id="navbar">
            <a class="navbar-brand" href="./index.html">
                <div class="d-flex align-items-center">
                    <img src="../../../assets/images/logotipo.jpg" id="logo" class="logo" alt="Logomarca CiniSimples">
                    <h1 id="ClínicaVitalis" class="ml-2">ClínicaVitalis</h1>
                </div>
            </a>
            <button class="navbar-toggler"  type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav ml-auto" id="dropdownlist">
                    <li class="nav-item active">
                        <a class="nav-link color-white" href="../../../../index_2.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle color-white" href="#" id="listarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastrar
                        </a>
                        <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="listarDropdown">
                            <a class="dropdown-item" id="dropdown-item" href="./cadastroPaciente.html">Novo
                                Paciente</a>
                            <a class="dropdown-item" id="dropdown-item" href="./cadastroFuncionario.html">Novo
                                Funcionário</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle color-white" href="#" id="listarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Relatórios
                        </a>
                        <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="listarDropdown">
                            <a class="dropdown-item" id="dropdown-item" href="./listaPaciente.html">Listar
                                Pacientes</a>
                            <a class="dropdown-item" id="dropdown-item" href="./listaFuncionario.html">Listar
                                Funcionários</a>
                            <a class="dropdown-item" id="dropdown-item" href="./listaEndereco.html">Listar
                                Endereços</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle color-white" href="#" id="listarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Agenda
                        </a>
                        <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="listarDropdown">
                            <a class="dropdown-item" id="dropdown-item" href="./listaAgendamentos.html">Listar Agendamentos</a>
                            <a class="dropdown-item" id="dropdown-item" href="./listaAgenda.html">Meus
                                Agendamentos</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="../../../../index.html">Público</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="./login.html">Login</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid">
            <div class= "table-responsive" id="homePage">
                    <h2 class="text-center mt-4">Endereços</h2>
                    <table id="table" class="table table-bordered bg-black mt-4" >
                        <thead>
                            <tr>
                                <th scope="col">CEP</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Cidade</th>
                                <th scope="col">Bairro</th>
                                <th scope="col">Rua</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>38400-000</td>
                                <td>Minas Gerais</td>
                                <td>Uberlândia</td>
                                <td>Jardim das Acácias</td>
                                <td>Rua das Flores</td>
                            </tr>
                            <tr>
                                <td>38401-234</td>
                                <td>Minas Gerais</td>
                                <td>Uberlândia</td>
                                <td>Centro</td>
                                <td>Avenida Principal</td>
                            </tr>
                            <tr>
                                <td>38456-789</td>
                                <td>Minas Gerais</td>
                                <td>Uberlândia</td>
                                <td>Vila Feliz</td>
                                <td>Rua dos Sonhos</td>
                            </tr>
                            <tr>
                                <td>38412-345</td>
                                <td>Minas Gerais</td>
                                <td>Uberlândia</td>
                                <td>Parque das Flores</td>
                                <td>Rua da Esperança</td>
                            </tr>
                            <tr>
                                <td>38478-901</td>
                                <td>Minas Gerais</td>
                                <td>Uberlândia</td>
                                <td>Novo Horizonte</td>
                                <td>Avenida da Alegria</td>
                            </tr>
                            
                        </tbody>
                    </table>
            </div>
        </div>
    </main>

    <footer>
        <p>ClínicaVitalis - Trabalho Parte 1 PPI</p>
    </footer>
</body>

</html>