nav li{
    padding: 25px 5px;
    width: 100px;
    display: inline-block;
    position: sticky;
    text-align: center;
    font-size: large;
}
ul{
    padding-left: 0px;
    margin: 0;
}

nav li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: sticky;
    top: 0;
    background-color: rgb(74, 73, 73);
    margin: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
}

main{
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding: 20px 20px;
}

h1{
    text-align: center;
}

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


footer{
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 600px){
    main{
        width: 95%;
    }
    body{
        background-color: white;
    }
}